nameOverride: ""

commonLabels: {}

kubeappsapis:
  customConfig: {}

  hostAliases: []
  replicaCount: 1
  updateStrategy:
    type: Recreate

  podSecurityContext:
    enabled: false

  podAnnotations: {}

  topologySpreadConstraints: []

  nodeSelector: []

  tolerations: []

  affinity: []

  initContainers: []

  springboot:
    bootstrap: {}

    serviceAccount:
      create: false
      annotations: {}
      name: ""
    
    containerSecurityContext:
      enabled: false

    image:
      repository: nginx
      pullPolicy: Always
      tag: "latest"
    
    imagePullSecrets:
      - name: inner

    diagnosticMode:
      enabled: false
      command: 
        - sleep
      args:
        - infinity
    
    command:
      - sleep
    args:
      - infinity

    extraEnvVars: []

    extraEnvVarsCM: []

    extraEnvVarsSecret: []

    livenessProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 6
      successThreshold: 1
    
    readinessProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 6
      successThreshold: 1

    startupProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 6
      successThreshold: 1

    resources:
      limits:
        cpu: 250m
        memory: 256Mi
      requests:
        cpu: 25m
        memory: 32Mi

    extraVolumeMounts: []

    extraVolumes: []
