apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.names.name" . }}
  namespace: {{ .Release.Name | quote }}
data:
  bootstrap.yml: |-
    {{ toYaml .Values.kubeappsapis.springboot.bootstrap | nindent 4 }}
  {{- if .Values.kubeappsapis.customConfig }}
  {{- include "common.tplvalues.render" (dict "value" .Values.kubeappsapis.customConfig "context" $) | nindent 2 }}
  {{- end }}